In [0]:
import pandas as pd

In [0]:
#help(read_csv)

In [10]:
import pandas as pd

df=pd.read_csv('https://raw.githubusercontent.com/axrd/datasets/master/sales_data.csv')
print(df.shape)
df.head()

(100, 6)

   Unnamed: 0            Name  ...          Date  Sales
0           0    Brenden Cote  ...  Feb 17, 2018  67044
1           1    Justina Reed  ...  Apr 27, 2017  89517
2           2   Daquan Vinson  ...  Aug 14, 2016  62705
3           3  Connor Shelton  ...  Feb 13, 2017  12675
4           4    Drew Carlson  ...  Sep 26, 2017  86670

[5 rows x 6 columns]

In [0]:
,Name,Region,Company,Date,Sales
0,Brenden Cote,Central African Republic,Metus Corp.,"Feb 17, 2018",67044
1,Justina Reed,Namibia,Lobortis Ltd,"Apr 27, 2017",89517
2,Daquan Vinson,Svalbard and Jan Mayen Islands,A Mi Consulting,"Aug 14, 2016",62705
3,Connor Shelton,Niue,Parturient Consulting,"Feb 13, 2017",12675
4,Drew Carlson,Mayotte,Interdum Associates,"Sep 26, 2017",86670
5,Yoshio Curtis,Saint Martin,Ultrices Sit Amet Institute,"Apr 2, 2017",95955
6,Jason Finch,Oman,Dolor Sit Institute,"Jul 4, 2016",87802
7,Fatima Miranda,Iceland,Tellus Non Corp.,"Jul 25, 2017",153
8,Roth Clarke,Eritrea,Porttitor Limited,"Nov 16, 2016",58574
9,Matthew Brown,Dominica,Leo Cras LLC,"Jan 27, 2018",63420
10,Nero Cooper,Portugal,Dictum Placerat Augue Foundation,"Apr 23, 2016",19953
11,Kelsey Workman,Tuvalu,Semper Dui Lectus Industries,"Aug 7, 2016",19731
12,Thane Cox,Tunisia,Morbi Consulting,"May 14, 2016",93244
13,Wallace Underwood,Denmark,Elit Etiam Foundation,"Mar 10, 2017",75469
14,Denton Richmond,Argentina,Eu LLP,"Jan 2, 2018",47432
15,MacKenzie Cross,Tonga,Nam Consequat Dolor Inc.,"Mar 7, 2018",37567
16,Avram Dickerson,Micronesia,At PC,"Jan 14, 2017",80568
17,Christine Wilkerson,Georgia,Orci Luctus Et Foundation,"Dec 25, 2017",47633
18,Jennifer Meyer,Montenegro,Dolor Limited,"Jun 6, 2016",69823
19,Mechelle Rosario,Malawi,Gravida Foundation,"Sep 6, 2016",27036
20,Dolan Nolan,Kyrgyzstan,Curae; Institute,"Dec 7, 2017",18618
21,Cathleen Wong,Portugal,Pharetra Nam Ac LLP,"Aug 20, 2017",64228
22,Piper Daugherty,China,Eu Limited,"Jun 7, 2016",56331
23,Jerry Flowers,Fiji,Consectetuer Ipsum Nunc Limited,"Jul 24, 2017",5278
24,Brenden Gentry,Iceland,Diam Sed Diam Industries,"Oct 6, 2017",64906
25,Quincy Nicholson,Armenia,Lectus Rutrum Urna Foundation,"Jan 23, 2017",95842
26,Rosalyn Greene,Marshall Islands,Sem Ut Associates,"Jul 12, 2016",11631
27,Theodore Wheeler,Mongolia,Libero At Auctor Limited,"Apr 9, 2016",54697
28,Darius Grant,"Bonaire, Sint Eustatius and Saba",Dignissim Magna A Corporation,"Jun 11, 2017",10654
29,Arden Blankenship,Iran,Montes Institute,"Jun 24, 2016",77267
30,Margaret Daugherty,Colombia,Cursus Non Associates,"May 15, 2016",48103
31,Chaney Long,"Korea, South",Nec Tellus Nunc LLP,"Jan 21, 2018",44860
32,Jolie Simpson,Moldova,Et Ultrices Posuere Industries,"Jan 25, 2018",45174
33,Maxwell Price,Madagascar,Dui Fusce Limited,"Mar 6, 2017",48061
34,Orson Sullivan,Belgium,Elit Corporation,"May 21, 2017",28971
35,Victoria Burgess,Yemen,Tincidunt Orci Quis Foundation,"Jun 21, 2016",99408
36,Ava Mccall,Barbados,Felis Adipiscing Fringilla Limited,"Dec 4, 2017",88173
37,Chiquita Hines,Saint Martin,Sit Amet Associates,"Aug 20, 2017",78160
38,Wynne Terrell,Andorra,Ligula Elit Pretium LLC,"Aug 13, 2017",34136
39,Owen Hart,Netherlands,Sed Corp.,"Jun 20, 2017",35189
40,Farrah Juarez,Italy,Ac Mi Eleifend LLP,"Jun 24, 2017",44099
41,Amaya Johnson,Finland,Aliquam Industries,"Aug 16, 2017",40721
42,Hilary Brooks,Jersey,Sem Ltd,"Jan 4, 2018",19595
43,Celeste Sellers,Algeria,Ridiculus Institute,"Apr 11, 2017",56368
44,Leo Stephens,Norway,Pellentesque Sed PC,"Jun 9, 2016",67724
45,Cruz Woods,Austria,Est Ac Incorporated,"Jan 28, 2018",79972
46,Abbot Fulton,Montserrat,Ac Mattis Corp.,"Aug 12, 2017",99356
47,Yeo Brooks,Paraguay,Ligula Nullam Feugiat Incorporated,"Sep 26, 2016",401
48,Farrah Ward,China,Cursus Et Eros Limited,"Jul 31, 2016",77784
49,Cadman Conrad,Philippines,Aliquet Libero Integer Associates,"Oct 12, 2017",59
50,Wesley Daniels,Burundi,Sed Company,"Jul 24, 2017",48929
51,Hedy Nixon,Cameroon,Accumsan Institute,"Aug 23, 2016",41270
52,Otto Medina,Sierra Leone,Sodales Foundation,"Feb 6, 2017",44332
53,Alana Gilmore,Romania,Suspendisse Associates,"Nov 20, 2016",93914
54,Unity Black,"Congo, the Democratic Republic of the",Sagittis LLC,"Jun 15, 2017",33110
55,Mason Nichols,"Congo, the Democratic Republic of the",Sem Elit Foundation,"May 20, 2016",50418
56,Ava Pierce,Sudan,Nunc Consulting,"Jul 26, 2016",12898
57,Jenette Alvarado,Kazakhstan,Est Foundation,"Dec 15, 2017",19558
58,Nichole Maddox,Monaco,Montes Nascetur Industries,"Jan 31, 2017",44633
59,Mercedes Irwin,Reunion,Sem Eget LLP,"Dec 22, 2017",73134
60,Darius Howe,India,Sollicitudin A Malesuada Incorporated,"Jan 30, 2018",9086
61,Herrod Hobbs,Sudan,Urna Convallis Limited,"Apr 7, 2016",44685
62,Allegra Farrell,Slovenia,Nam Company,"Apr 21, 2016",99880
63,Ariana Morton,Montserrat,Sed Tortor Limited,"Mar 30, 2017",8345
64,Colleen Peterson,Egypt,Tellus Justo Sit Ltd,"Sep 25, 2016",23335
65,Lucas Sanders,Bouvet Island,Sed Consequat Incorporated,"Jul 13, 2017",71362
66,Beverly Gilmore,Mexico,Morbi Non Associates,"Jun 15, 2017",5629
67,Armando Jennings,Central African Republic,Morbi Vehicula Pellentesque Consulting,"Oct 16, 2016",84253
68,Raphael Jefferson,Marshall Islands,Erat Nonummy Corporation,"Mar 4, 2018",99752
69,Odette Velez,Qatar,Ligula Aenean Consulting,"Jun 14, 2016",48762
70,Roth Hendrix,Tonga,Faucibus Morbi Vehicula LLC,"Oct 28, 2016",53755
71,Keane Dillon,Niue,Imperdiet Ornare In Limited,"Jul 14, 2016",87054
72,Zena Walter,Antarctica,Cubilia Curae; Donec LLP,"Nov 20, 2016",94917
73,Imani Levy,Albania,A Odio Semper Associates,"Jun 1, 2017",23888
74,Emmanuel Dickerson,Saint Barthélemy,Felis Ullamcorper Viverra Company,"Jan 18, 2017",84065
75,Robert Boone,Puerto Rico,Metus In Consulting,"Jun 24, 2017",95617
76,Noelani Sparks,Chile,Etiam Laoreet Libero LLC,"Mar 21, 2016",9198
77,Tanya Foster,Taiwan,Vel Lectus Cum Company,"May 26, 2016",82303
78,Indigo Parrish,Burkina Faso,Fusce Ltd,"Dec 8, 2016",31086
79,Noel Rojas,Netherlands,Consectetuer Rhoncus Limited,"Dec 11, 2017",35317
80,Jordan Byers,Zimbabwe,Parturient LLP,"May 10, 2017",99114
81,Chester Faulkner,Gambia,Non Cursus Non Ltd,"Feb 20, 2018",52541
82,Kim Guerra,Viet Nam,Phasellus Ornare Fusce LLP,"Aug 28, 2016",93162
83,Lysandra Christian,Andorra,Risus Odio Auctor Company,"Jan 16, 2018",36797
84,Acton Matthews,Isle of Man,Proin Limited,"Jul 22, 2017",9568
85,Amaya Murray,"Palestine, State of",Turpis PC,"Jan 9, 2017",33138
86,Odysseus Chambers,United Kingdom (Great Britain),Feugiat Sed Institute,"Jan 16, 2017",73514
87,Malachi Horton,Somalia,Molestie Foundation,"Oct 12, 2017",46696
88,Alea Kinney,Azerbaijan,Velit Limited,"Jun 13, 2016",64475
89,Hunter Mack,Armenia,Sem Ut LLC,"Apr 24, 2017",52408
90,Steel Andrews,Togo,Sed Dictum Eleifend Industries,"Sep 11, 2016",68311
91,Chelsea Pollard,Malawi,Cras Convallis PC,"May 23, 2016",55208
92,Beverly Goodman,Gibraltar,Fringilla Company,"Mar 24, 2017",80038
93,Keiko Sexton,Cambodia,Ligula Aenean Industries,"Jan 11, 2018",6974
94,Doris Mcgee,Macao,Urna Corp.,"May 28, 2016",12070
95,Mara Beck,Holy See (Vatican City State),Mauris Ut LLC,"Jul 28, 2016",33709
96,Ainsley Shaw,Seychelles,Ligula Nullam Corp.,"Dec 5, 2017",29564
97,Libby Lindsey,Qatar,Convallis Corp.,"Nov 5, 2016",10583
98,Cody Langley,Isle of Man,Est Mollis Company,"Oct 9, 2017",98167

In [18]:
sales_data.csv

NameError: ignored